@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

.container {
    /* padding: 30px; */
    /* background: linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 100%); */
}

.container > * {
    font-family: Dongle !important;
}

.card-weather {
    width: 100%;
    background: linear-gradient(90deg, #ACCBEE 0%, #E7F0FD 100%);
    display: flex;
}

.card-current {
    width: 55%;
    height: 570px;
}

.card-search {
    width: 15%;
    min-width: 300px;
    height: 570px;
}

.input-search {
    padding: 20px;
}

.card-forecast {
    width: 30%;
    min-width: 300px;
    height: 570px;
    background: linear-gradient(180deg, rgba(41, 93, 132, 0.1) 0%, rgba(42, 94, 133, 0.1) 0.01%, rgba(103, 126, 139, 0.1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-forecast-header {
    padding: 20px;
    height: 29px;
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #ffffff;
}

.card-forecast-line {
    width: 90%;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.card-forecast-body {
    height: 470px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.card-autocomplete {
    height: 504px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;
}

.card-list-autocomplete {
    padding: 10px;
    border-radius: 2px;
    font-size: 24px;
    color: #5f5f5f;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-list-autocomplete:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-list-forecast {
    width: 90%;
    height: 50px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-forecast {
    margin-top: -10px;
    height: 40px;
    margin-right: 10px;
}

.text-list-forecast {
    width: 120px;
}

/* STYLE TEXT */
.text-title {
    position: absolute;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}

.text-celcius {
    position: absolute;
    margin-top: 260px;
    margin-left: 65px;
    font-size: 192px;
    font-weight: 800;
    color: #ffffff;
}

.text-location1 {
    position: absolute;
    margin-top: 430px;
    margin-left: 70px;
    font-size: 54px;
    font-weight: 600;
    color: #ffffff;
}

.text-location2 {
    position: absolute;
    margin-top: 480px;
    margin-left: 70px;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
}

.img-condition {
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
    height: 100px;
}

.text-condition {
    position: absolute;
    margin-top: 300px;
    margin-left: 70px;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}